{
  "extends": 
  [ 
    "eslint:recommended",
    "google"
  ],
  "plugins":
  [
    "react"
  ],
  "parser": "babel-eslint",
  "env": 
  {
    "browser": true
  },
  "rules": 
  {   
    "react/jsx-uses-react": "error",   
    "react/jsx-uses-vars": "error",
    //see https://github.com/typescript-eslint/typescript-eslint/blob/master/docs/getting-started/linting/FAQ.md#i-get-errors-from-the-no-undef-rule-about-global-variables-not-being-defined-even-though-there-are-no-typescript-errors
    "no-undef": "off",
    "brace-style": [
      "error",
      "allman",
      { "allowSingleLine": true }
    ],
    "valid-jsdoc": [
      "error",
      { 
        "requireReturnType": false,
        "requireParamType": false 
      }
    ]
  }
}